@font-face {
    font-family: 'Milky Coffee';
    src: url(Milky\ Coffee.ttf);
}

body {
    font-family: "Milky Coffee", sans-serif;
    background-color: #f3efe6;
}

h1 {
    text-align: center;
    font-size: 300%;
    color: #f29598;
}

#principal {
    display: flex;
    justify-content: center;
    text-align: center;
}

.form-players {
    display: flex;
    flex-direction: column;
}

.show-players {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.313rem;
    margin: 0.75rem 0;
    border: 0.25rem solid #f3efe6;
    box-sizing: border-box;
    border-radius: 0.625rem;
    color: #f498be;
    font-family: 'Milky Coffee';
    font-size: 150%;
    background-color: #efdde8;
}

.show-players > p {
    font-size: 150%;
    color: #efa88d;
}

label {
    font-size: 150%;
    color: #efa88d;
}

#button-ok {
    padding: 0.313rem;
    margin: 0 0.938rem;
    font-size: 0.938rem;
    font-family: 'Milky Coffee';
    border: 0.25rem solid #f29598;
    margin: 0rem 1.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
    background-color: #f8efca;
    color: #f29598;
}

button:hover {
    transform: scale(1.1);
}

#button-start {
    padding: 0.75rem;
    font-size: 1.875rem;
    font-family: 'Milky Coffee';
    border: 0.25rem solid #f29598;
    margin: 0rem 1.5rem;
    border-radius: 0.625rem;
    cursor: pointer;
    background-color: #f8efca;
    color: #f29598;
}

#turn {
    color: #7a3864;
    font-size: 1.875rem;
}

#pos1, #pos4 {
    display: flex;
    border-right: 0.313rem solid #f6a1a6;
    border-bottom: 0.313rem solid #f6a1a6;
    border-radius: 0.313rem;
    width: 7.813rem;
    height: 7.813rem;
    cursor: pointer;
}

#pos2, #pos5 {
    display: flex;
    border-right: 0.313rem solid #f6a1a6;
    border-bottom: 0.313rem solid #f6a1a6;
    border-radius: 0.313rem;
    width: 7.813rem;
    height: 7.813rem;
    cursor: pointer;
}

#pos3, #pos6 {
    display: flex;
    border-bottom: 5px solid #f6a1a6;
    border-radius: 0.313rem;
    width: 7.813rem;
    height: 7.813rem;
    cursor: pointer;
}

#pos7, #pos8 {
    display: flex;
    border-right: 5px solid #f6a1a6;
    border-radius: 0.313rem;
    width: 7.813rem;
    height: 7.813rem;
    cursor: pointer;
}

#pos9 {
    display: flex;
    width: 7.813rem;
    height: 7.813rem;
    cursor: pointer;
}

#line1, #line2, #line3 {
    display: flex;
}

#pos1p, #pos2p, #pos3p, #pos4p, #pos5p, #pos6p, #pos7p, #pos8p, #pos9p {
    display: flex;
    font-size: 400%;
    color: #ff4373;
    margin: auto;
}

#endGame{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    color: aliceblue;
    font-size: 200%;
}

#message {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50%;
    left: 50%;
    font-size: 3.125rem;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

#button-restart {
    padding: 0.75rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Milky Coffee';
    font-size: 1.875rem;
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #f29598;
    font-weight: bold;
}

a {
    color: #d56776;
}